<div id="sub-link-bar"></div>
<div id="wrap">
  <div id="main-handle">
    <div class="roundfg">
      <ul id="main-nav">
        <li>
          <%= link_to "home", root_path, :class => "main-link" %>
          <ul class="sub-links">
            <li><%= link_to "home", root_path %></li>
          </ul>
        </li>
        <li>
          <%= link_to "registration", registration_path, :class => "main-link" %>
          <ul class="sub-links">
            <li><%= link_to "sign in", registration_signin_path %></li>
            <li><%= link_to "fill in", registration_fill_in_path %></li>
            <li><%= link_to "view all", registration_view_all_path %></li>
          </ul>
        </li>
        <li>
          <%= link_to "points", points_path, :class => "main-link" %>
          <ul class="sub-links">
            <li><%= link_to "modify points", points_path %></li>
          </ul>
        </li>
        <li>
          <%= link_to "search", search_path, :class => "main-link" %>
          <ul class="sub-links">
            <li><%= link_to "search for stampeder", search_path %></li>
          </ul>
        </li>
        <li><a class="close" title="Click to Collapse" href="#">X</a></li>
      </ul>
    </div>
    <b class="round"> <b class="round5"></b> <b class="round4"></b> <b class="round3"></b> <b class="round2"><b></b></b> <b class="round1"><b></b></b></b>
  </div>
</div>