<h1>New team</h1>

<% form_for(@team) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :previous_points %><br />
    <%= f.text_field :previous_points %>
  </p>
  <p>
    <%= f.label :indoor_games_points %><br />
    <%= f.text_field :indoor_games_points %>
  </p>
  <p>
    <%= f.label :outdoor_games_points %><br />
    <%= f.text_field :outdoor_games_points %>
  </p>
  <p>
    <%= f.label :friend_points %><br />
    <%= f.text_field :friend_points %>
  </p>
  <p>
    <%= f.label :spirit_points %><br />
    <%= f.text_field :spirit_points %>
  </p>
  <p>
    <%= f.label :deductions %><br />
    <%= f.text_field :deductions %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', teams_path %>