<p>
  <b>Name:</b>
  <%=h @team.name %>
</p>

<% unless @team.stampeders.empty? %>
<p>
  <h3>Team Members</h3>
  <ul>
  <% @team.stampeders.each do |stampeder| %>
  <li><%= link_to stampeder.fullname, stampeder %></li>
  <% end %>
  </ul>
</p>
<p>
  <h3>Graph of subgroups</h3>
  <img src="<%= "http://chart.apis.google.com/chart?cht=p3&chs=600x200&chd=t:#{@team.stampeders.find_all_by_subgroup("6m").size},#{@team.stampeders.find_all_by_subgroup("6f").size},#{@team.stampeders.find_all_by_subgroup("7m").size},#{@team.stampeders.find_all_by_subgroup("7f").size},#{@team.stampeders.find_all_by_subgroup("8m").size},#{@team.stampeders.find_all_by_subgroup("8f").size},#{@team.stampeders.find_all_by_subgroup("9m").size},#{@team.stampeders.find_all_by_subgroup("9f").size}&chl=6th%20Grade%20Boys|6th%20Grade%20Girls|7th%20Grade%20Boys|7th%20Grade%20Girls|8th%20Grade%20Boys|8th%20Grade%20Girls|9th%20Grade%20Boys|9th%20Grade%20Girls" %>">
</p>
<% end %>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>