<h1>Listing stampeders</h1>
<% if @stampeders.empty? %>
<h2>There are no stampeders</h2>
<% else %>
<table>
  <tr>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Team</th>
    <th>Barcode</th>
    <th>Phone</th>
    <th>Address</th>
    <th>Grade</th>
    <th>City</th>
    <th>State</th>
    <th>Gender</th>
    <th>Subgroup</th>
  </tr>

<% @stampeders.each do |stampeder| %>
  <tr>
    <td><%=h stampeder.lastname %></td>
    <td><%=h stampeder.firstname %></td>
    <td><%=h stampeder.team.name unless stampeder.team.blank? %></td>
    <td><%=h stampeder.barcode %></td>
    <td><%=h stampeder.parentphone %></td>
    <td><%=h stampeder.address %></td>
    <td><%=h stampeder.grade %></td>
    <td><%=h stampeder.city %></td>
    <td><%=h stampeder.state %></td>
    <td><%=h stampeder.gender_for_view %></td>
    <td><%=h stampeder.subgroup %></td>
    <td><%= link_to 'Show', stampeder %></td>
    <td><%= link_to 'Edit', edit_stampeder_path(stampeder) %></td>
    <td><%= link_to 'Destroy', stampeder, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<% end %>
<%= link_to 'New stampeder', new_stampeder_path %>