<% form_for :stampeder, :url => { :controller => 'public', :action => 'register' } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :firstname %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :lastname %>
  </p>
  <p>
    <%= f.label :gender %><br />
    <%= f.select :gender, [['select gender', ''], ['Boy', 'm'], ['Girl', 'f']] %>
  </p>
  <p>
    <%= f.label :dob %><br />
    <%= f.date_select :dob, :start_year => Time.now.year - 18, :end_year => Time.now.year - 10, :include_blank => true, :use_month_numbers => true, :order => [:month, :day, :year] %>
  </p>
  <p>
    <%= f.label :parent %><br />
    <%= f.text_field :parent %>
  </p>
  <p>
    <%= f.label :emergency_phone_number %><br />
    <%= f.text_field :parentphone %>
  </p>
  <p>
  <% if params[:referral_code] %>
    <p>
    Do you attend McKinney?<br />
    Yes <%= radio_button_tag 'church', @mmbc, false, :disabled => true %>
    No <%= radio_button_tag 'church', nil, true, :disabled => true %>
  </p>
    <%-# If they do not attend McKinney %>
    <% content_tag :div, :id => "visitor_fields" do -%>
      <p>
        <%= f.label :referral_code %><br />
        <%= text_field_tag 'referral_code', params[:referral_code], :disabled => true %>
      </p>
      <p>
        <%= f.label :church %><br />
        <%= text_field_with_auto_complete :stampeder, :church_name, {}, { :url => churches_path, :format => :js, :method => :get, :with => "'search=' + element.value" } %>
      </p>
      <p>
        I don't usually attend church<br />
        <%= check_box_tag 'attends_church', 'false', false %>
      </p>
    <% end -%>
  <% else %>
  <p>
    Do you attend McKinney?<br />
    Yes <%= radio_button_tag 'church', @mmbc, false, :onclick => "jQuery(\'#visitor_fields\').fadeOut();jQuery(\'#stampeder_church_name\').val(\'McKinney Memorial Bible Church\');" %>
    No <%= radio_button_tag 'church', nil, false, :onclick => "jQuery(\'#visitor_fields\').fadeIn();jQuery(\'#stampeder_church_name\').val(\'\');" %>
  </p>
    <%-# If they do not attend McKinney %>
    <% content_tag :div, :id => "visitor_fields", :class => 'hidden' do -%>
      <p>
        <%= f.label :referral_code %><br />
        <%= text_field_tag 'referral_code', params[:referral_code] %>
      </p>
      <p>
        <%= f.label :church %><br />
        <%= text_field_with_auto_complete :stampeder, :church_name, {}, { :url => churches_path, :format => :js, :method => :get, :with => "'search=' + element.value" } %>
      </p>
      <p>
        I don't usually attend church<br />
        <%= check_box_tag 'attends_church', 'false', false %>
      </p>
    <% end -%>
  <% end %>
  <p>
    <%= f.label :grade %><br />
    <%= f.select :grade, [['select grade', ''], ['6th Grade', 6], ['7th Grade', 7], ['8th Grade', 8], ['9th Grade', 9]] %>
  </p>
  <p>
    <%= f.label :school %><br />
    <%= text_field_with_auto_complete :stampeder, :school_name, {}, { :url => schools_path, :format => :js, :method => :get, :with => "'search=' + element.value" } %>
  </p>
  <p>
    <%= f.label :your_cell %><br />
    <%= f.text_field :studentphone %>
  </p>
  <p>
    <%= f.label :can_we_text_you %><br />
    Yes <%= f.radio_button :textmsg, true %> No <%= f.radio_button :textmsg, false %>
  </p>
  <p>
    <%= f.label :email %> (optional)<br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :parent_email %><br />
    <%= f.text_field :parentemail %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city, :value => "Fort Worth" %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state, :value => "TX" %>
  </p>
  <p>
    <%= f.label :zip_code %><br />
    <%= f.text_field :zipcode %>
  </p>
  <p>
    <%= f.submit 'Sign Up' %>
  </p>
<% end %>