<div id="sub-link-bar"></div>
<div id="wrap">
  <div id="main-handle">
    <div class="roundfg">
      <ul id="main-nav">
        <li>
          <%= link_to Home, home_path, :class => "main-link" %>
          <ul class="sub-links">
            <li><%= link_to Home, home_path, :class => "main-link" %></li>
          </ul>
        </li>
        <li>
          <%= link_to Registration, registration_path, :class => "main-link" %>
          <ul class="sub-links">
            <li><%= link_to Sign In, registration_signin_path %></li>
            <li><%= link_to Fill In, registration_fill_in_path %></li>
            <li><%= link_to View All, registration_view_all_path %></li>
          </ul>
        </li>
        <li>
          <%= link_to Points, points_path %>
          <ul class="sub-links">
            <li><%= link_to Modify Points, points_path %></li>
          </ul>
        </li>
        <li>
          <%= link_to Statistics, statistics_path %>
          <ul class=sub-links">
            <li><%= link_to All Stats, statistics_path %></li>
            <li><%= link_to Team Stats, statistics_team_path %></li>
            <li><%= link_to Gender Stats, statistics_gender_path %></li>
            <li><%= link_to Grade Stats, statistics_grade_path %></li>
          </ul>
        </li>
        <li><a class="close" title="Click to Collapse" href="#">X</a></li>
      </ul>
    </div>
    <b class="round"> <b class="round5"></b> <b class="round4"></b> <b class="round3"></b> <b class="round2"><b></b></b> <b class="round1"><b></b></b></b>
  </div>
</div>