<div id="sub-link-bar"></div>
<div id="wrap">
  <div id="main-handle">
    <div class="roundfg">
      <ul id="main-nav">
        <li>
          <%= link_to Home, home_path, :class => "main-link" %>
          <ul class="sub-links">
            <li><%= link_to Home, home_path, :class => "main-link" %></li>
          </ul>
        </li>
        <li>
          <%= link_to Registration, registration_path, :class => "main-link" %>
          <ul class="sub-links">
            <li><%= link_to Sign In, registration_signin_path %></li>
            <li><%= link_to Fill In, registration_fill_in_path %></li>
            <li><%= link_to View All, registration_view_all_path %></li>
          </ul>
        </li>
        <li>
          <%= link_to Indoor Games, indoor_games_path %>
          <ul class="sub-links">
            <li><%= link_to Enter Results, indoor_games_path %></li>
            <li><%= link_to Indoor Games Statistics, indoor_games_stats_path %></li>
          </ul>
        </li>
        <li>
          <%= link_to Outdoor Games, outdoor_games_path %>
          <ul class="sub-links">
            <li><%= link_to Enter Results, outdoor_games_path %></li>
            <li><%= link_to Outdoor Games Statistics, outdoor_games_stats_path %></li>
          </ul>
        </li>
        <li>
          <%= link_to Hosts, hosts_path %>
          <ul class="sub-link">
            
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>