<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <% display_meta(:title => "Stampede Registration") %>
  <%= yield(:meta) %>
  <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag 'public' %>
  <%= stylesheet_link_tag 'header' %>
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'header' %>
  <%= javascript_include_tag :defaults %>
  <%= yield(:head) %>
  <script type="text/javascript">
  if (top.location != location) {
    top.location.href = document.location.href;
  }
</script>
</head>
<body>
<%= yield :top_of_body %>
<div id="content">
<%= yield %>
</div>

</body>
</html>
